<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395580281087-07rfbn10u9rdlnmvr9n72bui18hfbppk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395580281087-07rfbn10u9rdlnmvr9n72bui18hfbppk</string>
	<key>API_KEY</key>
	<string>AIzaSyB2a5MHevcM8Oa9FwQZ-_2bKqTYZFMg1eY</string>
	<key>GCM_SENDER_ID</key>
	<string>395580281087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zencode.projectSanbercode</string>
	<key>PROJECT_ID</key>
	<string>finalsanber87</string>
	<key>STORAGE_BUCKET</key>
	<string>finalsanber87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395580281087:ios:d2cbd1ff6903ce18c37cca</string>
</dict>
</plist>